.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    width: 270px;
    height: 100vh;
    z-index: 1000;

    background: rgba(255,255,255,.08);
    backdrop-filter: blur(18px);
    border-right: 1px solid rgba(255,255,255,.15);

    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    padding: 25px 0;
}

.sidebar::-webkit-scrollbar{
    display:none;
}


.sidebar .logo{
    color:white;
    font-size:24px;
    font-weight:bold;
    text-align:center;
    margin-bottom:30px;
}


.sidebar ul{
    list-style:none;
    padding:0;
    margin:0;
}


.sidebar li{
    margin:6px 15px;
}


/* Links normales */
.sidebar a{

    display:flex;
    align-items:center;
    gap:14px;

    color:white;
    text-decoration:none;

    padding:13px 20px;

    border-radius:12px;

    transition:.3s;
}


.sidebar a:hover{

    background:rgba(255,255,255,.12);

    color:#6BC7E8;

    transform:translateX(8px);
}


.sidebar i{

    width:24px;
    color:#6BC7E8;

}


.menu-title{

    color:#6BC7E8;

    font-size:13px;

    font-weight:bold;

    text-transform:uppercase;

    margin:25px 25px 10px;
}



/* ========================= */
/* ACORDEON DEL SIDEBAR */
/* ========================= */


.sidebar .accordion-item{
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    margin: 25px 25px 10px !important;
}

.sidebar .accordion-button{
    background: transparent !important;
    color: #6BC7E8 !important;
    padding: 13px 20px !important;
    border-radius: 12px !important;
    box-shadow: none !important;
    font-weight: bold !important;
    font-size: 13px !important;
    text-transform: uppercase !important;
    border: none !important;
}

.sidebar .accordion-button:hover{
    background: rgba(255,255,255,.12) !important;
    color: #6BC7E8 !important;
}

/* Flecha */
.sidebar .accordion-button::after{
    filter: brightness(0) invert(1) !important;
}

/* cuando está abierto */
.sidebar .accordion-button:not(.collapsed){
    background: rgba(255,255,255,.12) !important;
    color: #6BC7E8 !important;
    box-shadow: none !important;
    border-bottom: none !important;
}

/* contenido desplegado */
.sidebar .accordion-body{
    padding: 5px 0 5px 20px !important;
    background: transparent !important;
}


.sidebar .accordion-body a{

    margin-top:5px;

}


.main-content{

    position:relative;

    z-index:1;

}

.sidebar .accordion-body a{
    margin:5px 0;
    padding-left:35px;
}